$color-navbar: #dfe6e9
$color-black: #222f3e
$color-pink: #ff9ff3
$color-pink-dark: #f368e0
$color-blue: rgb(72, 219, 251)
$color-blue-dark: rgb(10, 189, 227)
$color-blue-dark-shadow: rgba(10, 189, 227, 0.5)
$color-green: #1dd1a1
$color-turkois: #58c5c2
$color-turkois: rgb(88, 197, 194)
$color-turkois-shadow: rgba(88, 197, 194, 0.5)
$color-turkois-shadow-light: rgba(88, 197, 194,0.75)
$color-turkois-dark: #099c98
$color-white: #fff
$color-placeholder: #adadad
$color-shadow: rgba(0, 0, 0, 0.5)
$color-input: #eee
$color-error: #ee2c2c
$color-thead: #dee2e6
$color-hamburger-background: #3f3f41