.ContactForm
  flex: 1 1 65%
  margin: 0 10%

  input
    width: 70%
    outline: none
    color: $color-black
    line-height: 2em
    transition: border .3s
  textarea
    width: 100%
    margin-top: 2em
    padding-top: .5em

  .multiselect
    min-height: unset
    width: 70%
    display: inline-block
    font-size: 1em
    margin: 0

  ::v-deep .multiselect
    .multiselect
      &__tags
        font-size: 1em
        font-family: $font-family-main
        background: $color-input
        outline: none
        transition: border .3s
        min-height: auto
        padding: 0 1rem

      &__placeholder
        margin-bottom: 0
        line-height: 2em
      &__input
        padding-left: 0
        font-size: 1em
        &::placeholder
          color: $color-placeholder
          background: $color-input
          padding: 0
          line-height: 2em
          width: 90%
      &__single
        font-size: 1em
        line-height: inherit
        line-height: 2em
        padding: 0
        margin-bottom: 0
        color: $color-black
        background: none
        font-family: $font-family-main

  ::v-deep .multiselect--active
    .multiselect__tags
      .multiselect__input
        width: 90% !important
        margin-bottom: 0
        padding-bottom: 0
        vertical-align: middle
        line-heigh: 2em
    .multiselect__select
      top: -5px

  ::v-deep .datepicker
    min-height: unset
    width: 70%
    display: inline-block
    font-size: 1em
    margin: 0.6em 0
    outline: none
    input
      width: 100%
      cursor: pointer
      line-height: 2em

    .cell.selected
      background: $color-turkois

  &__send
    margin: 2em auto

  &__submitted
    color: $color-green

  &__error
    color: $color-error
    ul
      list-style-type: none
      padding: 0





